<ion-menu menuId="first-menu" contentId="main-content">
  <ion-header color="primary">
    <ion-toolbar color="primary">
      <ion-title color="secondary">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>

      <ion-item (click)="openModal('profile')">
        <ion-label color="primary">
          Mi perfil
        </ion-label>
        <ion-icon name="chevron-forward-outline" color="primary"></ion-icon>
      </ion-item>

      <ion-item (click)="openModal('add-vehicle')">
        <ion-label color="primary">
          Nuevo vehículo
        </ion-label>
        <ion-icon name="chevron-forward-outline" color="primary"></ion-icon>
      </ion-item>

      <ion-item (click)="openModal('exit')">
        <ion-label color="primary">
          Salir
        </ion-label>
        <ion-icon name="chevron-forward-outline" color="primary"></ion-icon>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header color="primary">
    <ion-toolbar color="primary">
      <ion-title color="secondary">Vehiculos</ion-title>
      <ion-buttons slot="end" color="secondary">
        <ion-icon
          name="menu-outline"
          color="secondary"
          size="large"
          (click)="openMenu()"
        ></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-list [inset]="true">

      <ion-item [button]="true" *ngFor="let vehicle of vehicles">
        <ion-thumbnail slot="start">
          <ion-img
            class="thumbnail-img"
            [src]="vehicle?.picture"
            alt="OET - App"
          ></ion-img>
        </ion-thumbnail>

        <ion-label>
          <strong>Placa: </strong> {{ vehicle?.plate }} <br />
          <!-- <ion-text><strong>Modelo (año): </strong> {{ vehicle?.model }}</ion-text><br /> -->
          <ion-note color="medium" class="ion-text-wrap">
            <strong>Modelo (año): </strong> {{ vehicle?.model }} <br />
            <strong>Configuración: </strong> {{ vehicle?.setting?.name }} <br />
            <strong>Carrocería: </strong> {{ vehicle?.bodywork?.name }} <br />
          </ion-note>
        </ion-label>
      </ion-item>

    </ion-list>
  </ion-content>
</div>

